APP_ENV=local
APP_STATUS=NOT-INSTALLED
APP_DEBUG=false

APP_URL=
APP_KEY=SomeRandomStringSomeRandomString
APP_CIPHER=AES-256-CBC
APP_TIMEZONE=Europe/Istanbul
APP_LOCALE=en
PUBLIC_DIR=public_html
DEFAULT_CURRENCY=EUR
DEFAULT_ACCOUNT=1

DB_CONNECTION=mysql
DB_STRICT=false
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
