# Please try and keep this file organized by alphabetical order. Single files first, then directories.
/composer.lock
*.DS_Store
.env
Homestead.yaml
Homestead.json
/.idea
/node_modules
/public
/storage
/vendor



